#Slicing a List
L = [0,1,2,3,4,5,6,7] #original list
#off by one behaviour
# Printing from third to last elements of a list
L[2:]

#Copying the List
my_fav = ['cake','pizza','stew'] # Original List
frd_fav1 = my_fav[:]
frd_fav2 = my_fav
print(my_fav)
print(frd_fav1) #Copy by Value
print(frd_fav2) #Copy by Reference

print(my_fav)
print(frd_fav1) #Copy by Value
print(frd_fav2) #Copy by Reference

print(id(my_fav)) #Original list Address
print(id(frd_fav1)) # Copy by Value list Address
print(id(frd_fav2)) #Copy by Reference list Address

frd_copy = my_fav.copy() # Inbuilt Copy function
my_fav.append('ice-cream') # Add new element to original list

# Unpacking the dictionary
def show_info(**info):
for k,v in info.items():
print(f"{k} : {v}")
data = {"Code":"Python",
"School":"SCOPE",
"Course":"CSI4007"
}
show_info(**data)

CREATE A DICTIONARY:
#Create a Empty Dictionary and insert keys and values
dict1 = dict() # Empty dict
dict1["Name"] = "Sathish" # Inserting keys and values to dict
dict1["School"] = "SCOPE"
print(dict1) # Display dict
